.chat-wrapper {
    display:block;
    border:1px solid #000;
    height:300px;
    box-sizing: border-box;
    padding:10px;
}

.chat-wrapper .js-chat-view-container {
    height:100%;
}

.chat-content {
    overflow:auto;
    height:90%;
}

.chat-input {
    width:100%;
}

#chatBarWrapper {
    position:fixed;
    bottom:0;
    left:0;
    height:50px;
    /* margin-bottom:50px; */
    width:100%;
    background:#000;
    vertical-align: bottom;
    visibility: hidden;
}

#chatBarWrapper .js-chat-view-container {
    position:relative;
    bottom:300px;
    height:300px;
    background:transparent;
    display:table-cell;
    border:1px solid #000;
}

#chatBarWrapper .js-chat-view-container .chat-content {
    height:90%;
    color:#000;
    background:#FFF;
    width:300px;
    height:300px;
}

#chatBarWrapper .js-chat-view-container .chat-input {
    box-sizing:border-box;
}
